.header{
    background-color: black;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: calc(5px + 2vmin);
    color: white;
}
.welcome{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.article{
    background-color: gold;
    color: black;
    min-height: 5vh;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: left;
    font-size: calc(2px + 2vmin);
   width:100%;
    padding: 2%;
}
.Account{
    width: 20%;
}
.center{
    display:flex;
    flex-direction: row;
    width: 75%;
}
.center h1{
    font-size: x-large;
}
.Dashboard{
    display: flex;
   align-items: center;


}

.p-menubar{
    background-color: black;
}

.p-menuitem{
    background-color: black;
}
.card {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}
.p-card{
    background-color: bisque;
    color:black;
    display:flex;
    flex-direction: row;
}

.p-card-subtitle{
    background-color: gold;
    color: darkred;
}
