.article{
    background-color: gold;
    color: black;
    min-height: 5vh;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: left;
    font-size: calc(2px + 2vmin);
   width:100%;
    padding: 1%;
}
.Account{
    width: 20%;
}
.center{
    display:flex;
    flex-direction: row;
    width: 75%;
}
.Dashboard{
    display: flex;
   align-items: center;


}

